.sidebar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sidebar.open {
}

.background {
}

.nav {
}

.nav a {
    text-decoration: none;
    color: cornflowerblue;
    margin: 10px;
}

.nav a:hover {
    color: #0059b3;
}

.nav a.active {
    color: midnightblue;
}

.close {
}

.close img {
}
